<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pageHeaderV2">
  <header class="v2 header js">
    <div class="header-title">
      <span class="header-title-text">강의</span>
    </div>
    <div class="header-content">
      <button class="course-registration-button js">수강 신청</button>
      <button class="course-registration-cart-button js">예비 수강 신청</button>
      <button class="user-logout-button js">로그아웃</button>
    </div>
  </header>
</th:block>

</html>